USE [master]
GO
/****** Object:  Database [PIA_LBPROWEB]    Script Date: 11/11/2024 11:00:14 a. m. ******/
CREATE DATABASE [PIA_LBPROWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIA_LBPROWEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PIA_LBPROWEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIA_LBPROWEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PIA_LBPROWEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIA_LBPROWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIA_LBPROWEB]
GO
/****** Object:  Table [dbo].[CARACTER_MASCOTA]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARACTER_MASCOTA](
	[ID_Caracter] [int] IDENTITY(1,1) NOT NULL,
	[Caracter_Mascota] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CARACTER_MASCOTA] PRIMARY KEY CLUSTERED 
(
	[ID_Caracter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRITO_COMPRA]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO_COMPRA](
	[ID_Producto] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_CARRITO_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC,
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_PRODUCTOS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_PRODUCTOS](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_ORDENCOMPRA]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_ORDENCOMPRA](
	[ID_Orden_Compra] [int] IDENTITY(1,1) NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Precio_Unitario] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_ORDENCOMPRA_1] PRIMARY KEY CLUSTERED 
(
	[ID_Orden_Compra] ASC,
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_SOLICITUD]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_SOLICITUD](
	[ID_EstadoSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADO_SOLICITUD] PRIMARY KEY CLUSTERED 
(
	[ID_EstadoSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTAS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTAS](
	[ID_MASCOTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NULL,
	[ID_Tipo] [int] NOT NULL,
	[ID_Raza] [int] NOT NULL,
	[ID_Caracter] [int] NOT NULL,
	[ID_Tamaño] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Personalidad] [nvarchar](50) NOT NULL,
	[Ruta_FotoMascota] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MASCOTAS] PRIMARY KEY CLUSTERED 
(
	[ID_MASCOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID_OrdenCompra] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Fecha_Orden] [datetime] NOT NULL,
	[Ciudad] [nvarchar](50) NOT NULL,
	[Codigo_Postal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ORDEN_COMPRA_1] PRIMARY KEY CLUSTERED 
(
	[ID_OrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[Precio_unitario] [money] NOT NULL,
	[Unidades_En_Stock] [int] NOT NULL,
	[Descripción_Producto] [nvarchar](max) NOT NULL,
	[Ruta_FotoProducto] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAZA_MASCOTAS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAZA_MASCOTAS](
	[ID_RAZA] [int] NOT NULL,
	[ID_Tipo] [int] NOT NULL,
	[Raza] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RAZA_MASCOTAS] PRIMARY KEY CLUSTERED 
(
	[ID_RAZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES_USUARIO]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_USUARIO](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROLES_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUD_ADOPCIÓN]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUD_ADOPCIÓN](
	[ID_Solicitud] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Mascota] [int] NOT NULL,
	[ID_EstadoSolicitud] [int] NOT NULL,
	[Fecha_Solicitud] [datetime2](7) NOT NULL,
	[Descripción_Usuario] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SOLICITUD_ADOPCIÓN] PRIMARY KEY CLUSTERED 
(
	[ID_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAMAÑOS_MASCOTA]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAMAÑOS_MASCOTA](
	[ID_Tamaño] [int] IDENTITY(1,1) NOT NULL,
	[Tamaño_Mascota] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TAMAÑOS_MASCOTA] PRIMARY KEY CLUSTERED 
(
	[ID_Tamaño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_MASCOTAS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_MASCOTAS](
	[ID_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_MASCOTAS] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 11/11/2024 11:00:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Ciudad] [nvarchar](50) NOT NULL,
	[Dirección] [nvarchar](max) NOT NULL,
	[Codigo_Postal] [nvarchar](50) NOT NULL,
	[Correo_Electronico] [nvarchar](max) NOT NULL,
	[Contraseña] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRITO_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_COMPRA_PRODUCTOS] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[PRODUCTOS] ([ID_Producto])
GO
ALTER TABLE [dbo].[CARRITO_COMPRA] CHECK CONSTRAINT [FK_CARRITO_COMPRA_PRODUCTOS]
GO
ALTER TABLE [dbo].[CARRITO_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_COMPRA_USUARIOS] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CARRITO_COMPRA] CHECK CONSTRAINT [FK_CARRITO_COMPRA_USUARIOS]
GO
ALTER TABLE [dbo].[DETALLE_ORDENCOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ORDENCOMPRA_ORDEN_COMPRA] FOREIGN KEY([ID_Orden_Compra])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID_OrdenCompra])
GO
ALTER TABLE [dbo].[DETALLE_ORDENCOMPRA] CHECK CONSTRAINT [FK_DETALLE_ORDENCOMPRA_ORDEN_COMPRA]
GO
ALTER TABLE [dbo].[DETALLE_ORDENCOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ORDENCOMPRA_PRODUCTOS1] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[PRODUCTOS] ([ID_Producto])
GO
ALTER TABLE [dbo].[DETALLE_ORDENCOMPRA] CHECK CONSTRAINT [FK_DETALLE_ORDENCOMPRA_PRODUCTOS1]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_CARACTER_MASCOTA] FOREIGN KEY([ID_Caracter])
REFERENCES [dbo].[CARACTER_MASCOTA] ([ID_Caracter])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_CARACTER_MASCOTA]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_RAZA_MASCOTAS] FOREIGN KEY([ID_Raza])
REFERENCES [dbo].[RAZA_MASCOTAS] ([ID_RAZA])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_RAZA_MASCOTAS]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_TAMAÑOS_MASCOTA] FOREIGN KEY([ID_Tamaño])
REFERENCES [dbo].[TAMAÑOS_MASCOTA] ([ID_Tamaño])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_TAMAÑOS_MASCOTA]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_TIPOS_MASCOTAS] FOREIGN KEY([ID_Tipo])
REFERENCES [dbo].[TIPOS_MASCOTAS] ([ID_Tipo])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_TIPOS_MASCOTAS]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_USUARIOS] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_USUARIOS]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_USUARIOS] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_USUARIOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIA_PRODUCTOS] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[CATEGORIA_PRODUCTOS] ([ID_Categoria])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIA_PRODUCTOS]
GO
ALTER TABLE [dbo].[RAZA_MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_RAZA_MASCOTAS_TIPOS_MASCOTAS] FOREIGN KEY([ID_Tipo])
REFERENCES [dbo].[TIPOS_MASCOTAS] ([ID_Tipo])
GO
ALTER TABLE [dbo].[RAZA_MASCOTAS] CHECK CONSTRAINT [FK_RAZA_MASCOTAS_TIPOS_MASCOTAS]
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_ESTADO_SOLICITUD] FOREIGN KEY([ID_EstadoSolicitud])
REFERENCES [dbo].[ESTADO_SOLICITUD] ([ID_EstadoSolicitud])
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN] CHECK CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_ESTADO_SOLICITUD]
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_MASCOTAS] FOREIGN KEY([ID_Mascota])
REFERENCES [dbo].[MASCOTAS] ([ID_MASCOTA])
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN] CHECK CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_MASCOTAS]
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_USUARIOS] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[SOLICITUD_ADOPCIÓN] CHECK CONSTRAINT [FK_SOLICITUD_ADOPCIÓN_USUARIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES_USUARIO] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROLES_USUARIO] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES_USUARIO]
GO
USE [master]
GO
